body {
    background-color:#572B1A;

    
    }
    
    body img{
        width: 8%;
        Height:4%;
    
    }
    
    .nav{
        text-align: right;
        text-size-adjust: 90px;
    }
    
    nav ul li{
        list-style: none;
        display: inline;
        padding: 20px 50px;
        text-size-adjust: 90px;
        text-decoration: none;
    
    
    }
    
    nav ul li a{
        font-weight: 900;
        font-size: 20px;
        text-decoration: none;
        color: #FA6B16;
    
    }
    
    nav a:hover{
        background-color: rgb(226, 108, 128);
        color:blueviolet;
    }

    .video{
        position:center;
        width:500%;
        height:300%;
        padding-left: 130px;
         padding-top: 10px;
    }

    .description{
    
       color: #f1dad2;
       padding-left: 100px;
       padding-right:350px;
       font-weight: bold;
       font-size:x-large;
       font-style: italic;
       line-height: 20px;
       margin-left: 30px;

    }

    .description p{
        text-align: centre;
    }
    footer{
        padding-bottom: 0px;
        text-align:end;
        font-display: flex;
        padding-top: 100px;
        color: #048F8A;
    }